.nav-link {
    color: black
}

.nav-item {
    color: black
}

input[type=checkbox] {
    display: none;
}
  

h3 {
    font-family: "Merienda", serif;
    font-size: 36px;
}
  
input[type=checkbox]:checked ~ label > img {
    transform: scale(2);
    cursor: zoom-out;
}

body {
    background-color: #fffefa
}

p {
    font-size: 18px;
}